header {
    text-align: center;
    padding: 3rem;
}

.view-details {
    padding: 3% 8%;
    border: 1px solid #a8ca01;
    background-color: #a8ca01;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}